:root {
  --header-text-color: #ffffff;
  --main-text-color: var(--header-text-color);
  --nav-link-bg-color: #000000;
  --nav-link-text-color: #ffffff;
  font-size: 1.5em;
}

* {
  margin: 0;
  padding: 0;
}

body {
  color: var(--header-text-color);
  background: #282a36;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 20vh;
  text-align: center;
  overflow: auto;
}

header h1 {
  font-size: 3rem;
  width: max-content;
  height: max-content;
  border-radius: 5%;
  margin-bottom: 1%;
}

#nav-bar {
  text-align: left;
  width: 50vw;
}

#nav-bar > ul {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
}

#nav-bar > ul li {
  display: inline-block;
}

#nav-bar .nav-link {
  display: inline-block;
  min-height: fit-content;
  padding: 5%;
  background-color: #ffffff;
  border-radius: 10%;
  text-align: center;
  font-size: 1.5rem;
  text-decoration: none;
  color: #000000;
}

.title-of-project {
  text-transform: uppercase;
}

main {
  display: flex;
  justify-content: center;
}

#main-container {
  display: flex;
  box-sizing: border-box;
  flex-direction: row;
  justify-content: center;
  padding-top: 1%;
  min-height: 80vh;
  width: 60%;
}

.game-list-container {
  min-width: 70%;
  min-height: 100%;
}

.game-description {
  text-align: justify;
  min-width: 30%;
  font-size: 1.2rem;
  padding-left: 5%;
  padding-right: 5%;
  font-weight: bold;
  height: fit-content;
  align-self: flex-start;
}

.game-list {
  list-style-type: none;
}

.game-list li a {
  text-decoration: none;
  display: block;
  color: var(--header-text-color);
  font-size: 1.25rem;
  display: block;
  min-width: fit-content;
  width: 5rem;
  height: 1.25rem;
  text-align: center;
  margin-bottom: 50px;
  border-radius: 10%;
  transition-property: all;
  transition-duration: 0.2s;
  font-variant: small-caps;
  font-weight: bold;
}

.game-list li a:hover {
  transform: translate(20px);
  z-index: 2;
}
